*/.classpath
*/.project
*/.settings
*/.gradle
core/build
core/.idea
core/gradle
core/core.iml
core/gradlew.bat
core/out
samples/build
samples/.idea
samples/.gradle
samples/gradle
samples/gradlew.bat
samples/out
samples/war
