<div>
  <h1>Non-counted loader</h1>
  <p>
    <span data-gwtid="loader" style="float:right; background-color:#f88; display:none;">Something is loading...</span>
    <button data-gwtid="showButton">Show loader</button>
    <button data-gwtid="hideButton">Hide loader</button>
  </p>
  <h1>Counted loader</h1>
  <p>
    <span data-gwtid="countedLoader" style="float:right; background-color:#f88; display:none;"><span data-gwtid="loadCount"></span> item(s) loading...</span>
    <button data-gwtid="showCountedButton">Show counted loader</button>
    <button data-gwtid="hideCountedButton">Hide counted loader</button>
  </p>
</div>